<div class='asset'>
    <a href='{{source.imageUrl}}'>
        <img style='{{style}}' src='{{src.portrait}}' />
    </a>
    <div>
        By
        {{source.artist}}
        on
        {{source.distributor}}
    </div>
</div>