<span class='item-ref' >
    <img data-id='{{{id}}}' src='{{card.icon}}' /><a data-id='{{{id}}}'
        class='reftip'
    >{{{data.title}}}
        <span class='tool-tip-content'>
            {{{block.index}}}
        </span>
    </a>

</span>