<html lang='en' class='dark'>

    <head>
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />

        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

        <meta http-equiv='X-UA-Compatible' content='IE=edge' />

        <title>WIKI | {{node.tabName}}</title>

        <link
            rel='stylesheet'
            href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
        />
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link
            href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'
            rel='stylesheet'
        />
        <link rel='icon' href='/img/badge.png' />
        <link rel='stylesheet' type='text/css' href='/css/default.css' />
        <link rel='stylesheet' type='text/css' href='/css/deco.css' />
        <link rel='stylesheet' type='text/css' href='/css/sidebar.css' />
        <link rel='stylesheet' type='text/css' href='/css/heading.css' />
        <link rel='stylesheet' type='text/css' href='/css/toc.css' />
        <link rel='stylesheet' type='text/css' href='/css/body.css' />
        <link rel='stylesheet' type='text/css' href='/css/card.css' />

        <link rel='stylesheet' type='text/css' href='/css/pager.css' />

        <link rel='stylesheet' type='text/css' href='/css/mobile.css' />
        <link rel='stylesheet' type='text/css' href='/css/tooltip.css' />

    </head>

    <body>

        <nav class='nav deco-bar'>
            <div class='deco-bar-header'>
                <a class='deco-bar-icon' href='/'>
                    <img src='/img/badge.png' alt='logo' />
                </a>
            </div>
            <div class='deco-bar-title'>Dozen Dragons</div>

            <div class='toggle-nav-menu'><input
                    id='toggle-nav'
                    type='image'
                    src='/img/hamburger-menu.png'
                /></div>
        </nav>

        <div class='content'>
            <div
                id='nav-sidebar'
                class='nav hidden-mobile'
            >{{{navigation}}}</div>
            <main id='page-media' class=''>

                <div class='inner inner-left page-body'>
                    <span class='title'>{{node.name}}</span>

                    <div class='cred'>{{{metadata.frontMatter.cred}}}</div>
                    <div class='heart'>
                        {{{html}}}
                        {{{sidebar}}}
                    </div>
                    <div class='pager-wrapper'>
                        <a class='previousBtn' href='{{prev.slug}}.html'><div
                                class='leftArrow'
                            ><svg
                                    preserveAspectRatio='xMidYMid meet'
                                    height='1em'
                                    width='1em'
                                    fill='none'
                                    xmlns='http://www.w3.org/2000/svg'
                                    viewBox='0 0 24 24'
                                    stroke-width='2'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    stroke='currentColor'
                                    class='_13gjrqj'
                                ><g><line
                                            x1='19'
                                            y1='12'
                                            x2='5'
                                            y2='12'
                                        ></line><polyline
                                            points='12 19 5 12 12 5'
                                        ></polyline></g></svg></div><div
                                class='preRightWrapper'
                            ><div class='smallContent'><span
                                    >Previous</span></div><div
                                    class='nextPreviousTitle'
                                ><span>{{prev.name}}</span></div></div></a>

                        <a class='nextBtn' href='{{next.slug}}.html'>
                            <div class='nextRightWrapper'>
                                <div class='smallContent'>
                                    <span>Next</span>
                                </div>
                                <div class='nextPreviousTitle'><span
                                    >{{next.name}}</span></div></div><div
                                class='rightArrow'
                            ><svg
                                    preserveAspectRatio='xMidYMid meet'
                                    height='1em'
                                    width='1em'
                                    fill='none'
                                    xmlns='http://www.w3.org/2000/svg'
                                    viewBox='0 0 24 24'
                                    stroke-width='2'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    stroke='currentColor'
                                    class='_13gjrqj'
                                ><g><line
                                            x1='5'
                                            y1='12'
                                            x2='19'
                                            y2='12'
                                        ></line><polyline
                                            points='12 5 19 12 12 19'
                                        ></polyline></g></svg></div></a>

                    </div>
                    <div class='credits'><p>Dozen Dragons Wiki, an Eberron &amp; PF2e campaign.</p></div>
                </div>

                <div class='inner inner-right page-toc'>
                    <h2>Table of Contents</h2>
                    <ul>
                        {{#each toc}}
                            <li class='toc-heading-{{h}}'>
                                <a href='#{{id}}'>
                                    {{str}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </main>

        </div>

        <script type='text/javascript'>
            const nextSlug = "{{{next.slug}}}.html"; const prevSlug = "{{{prev.slug}}}.html";
        </script>
        <script type='text/javascript' src='/js/toggleNav.js'></script>

    </body>

</html>