<html lang='en' class='dark'>

    <head>
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />

        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

        <meta http-equiv='X-UA-Compatible' content='IE=edge' />

        <title>WIKI | {{node.tabName}}</title>

        <link
            rel='stylesheet'
            href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
        />
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link
            href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'
            rel='stylesheet'
        />
        <link rel='icon' href='/img/badge.png' />
        <link rel='stylesheet' type='text/css' href='/css/default.css' />
        <link rel='stylesheet' type='text/css' href='/css/deco.css' />
        <link rel='stylesheet' type='text/css' href='/css/sidebar.css' />
        <link rel='stylesheet' type='text/css' href='/css/heading.css' />
        <link rel='stylesheet' type='text/css' href='/css/toc.css' />
        <link rel='stylesheet' type='text/css' href='/css/body.css' />
        <link rel='stylesheet' type='text/css' href='/css/card.css' />

        <link rel='stylesheet' type='text/css' href='/css/pager.css' />
        <link rel='stylesheet' type='text/css' href='/css/manager.css' />

        <link rel='stylesheet' type='text/css' href='/css/mobile.css' />
        <link rel='stylesheet' type='text/css' href='/css/tooltip.css' />

    </head>

    <body>

        <nav class='nav deco-bar'>
            <div class='deco-bar-header'>
                <a class='deco-bar-icon' href='/'>
                    <img src='/img/badge.png' alt='logo' />
                </a>
            </div>
            <div class='deco-bar-title'>Dozen Dragons</div>

            <ul class='breadcrumb'>
                {{{breadcrumb this.node isYoungest=true}}}
            </ul>

            <div class='toggle-nav-menu'><input
                    id='toggle-nav'
                    type='image'
                    src='/img/hamburger-menu.png'
                /></div>
        </nav>

        <div class='content'>
            <div
                id='nav-sidebar'
                class='nav hidden-mobile'
            >{{{navigation}}}</div>
            <main id='page-media' class=''>

                <div class='inner inner-left page-body'>

                    <div class='title'>
                        <span>{{node.name}}</span>
                        <img data-id="{{node.slug}}"
                            src='/icons/ffffff/transparent/1x1/delapouite/round-star.svg'
                        />
                    </div>

                    <div class='cred'>{{{data.frontMatter.cred}}}</div>

                    <div class='pager-wrapper'>
                        <a class='previousBtn' href='{{prev.slug}}.html'>
                            <div class='leftArrow'>
                                <svg
                                    preserveAspectRatio='xMidYMid meet'
                                    height='1em'
                                    width='1em'
                                    fill='none'
                                    xmlns='http://www.w3.org/2000/svg'
                                    viewBox='0 0 24 24'
                                    stroke-width='2'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    stroke='currentColor'
                                    class='_13gjrqj'
                                >
                                    <g>
                                        <line
                                            x1='19'
                                            y1='12'
                                            x2='5'
                                            y2='12'
                                        ></line>
                                        <polyline
                                            points='12 19 5 12 12 5'
                                        ></polyline>
                                    </g>
                                </svg>
                            </div>
                            <div class='preRightWrapper'><div
                                    class='smallContent'
                                >
                                    <span>Previous</span>
                                </div>
                                <div class='nextPreviousTitle'>
                                    <span>{{prev.name}}</span>
                                </div>
                            </div>
                        </a>

                        <a class='nextBtn' href='{{next.slug}}.html'>
                            <div class='nextRightWrapper'>
                                <div class='smallContent'>
                                    <span>Next</span>
                                </div>
                                <div class='nextPreviousTitle'>
                                    <span>{{next.name}}</span>
                                </div>
                            </div>
                            <div class='rightArrow'>
                                <svg
                                    preserveAspectRatio='xMidYMid meet'
                                    height='1em'
                                    width='1em'
                                    fill='none'
                                    xmlns='http://www.w3.org/2000/svg'
                                    viewBox='0 0 24 24'
                                    stroke-width='2'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    stroke='currentColor'
                                    class='_13gjrqj'
                                >
                                    <g>
                                        <line
                                            x1='5'
                                            y1='12'
                                            x2='19'
                                            y2='12'
                                        ></line>
                                        <polyline
                                            points='12 5 19 12 12 19'
                                        ></polyline>
                                    </g>
                                </svg>
                            </div>
                        </a>
                    </div>
                    {{#if data.frontMatter.traits}}
                        <div class='title-traits'>{{{traits
                                data.frontMatter.traits
                            }}}</div>
                    {{/if}}
                    <div class='heart'>
                        <div class='mobile-sidebar'>
                            {{{sidebar}}}
                        </div>
                        {{{html}}}

                    </div>
                    <div class='pager-wrapper'>
                        <a class='previousBtn' href='{{prev.slug}}.html'><div
                                class='leftArrow'
                            >
                                <svg
                                    preserveAspectRatio='xMidYMid meet'
                                    height='1em'
                                    width='1em'
                                    fill='none'
                                    xmlns='http://www.w3.org/2000/svg'
                                    viewBox='0 0 24 24'
                                    stroke-width='2'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    stroke='currentColor'
                                    class='_13gjrqj'
                                >
                                    <g>
                                        <line
                                            x1='19'
                                            y1='12'
                                            x2='5'
                                            y2='12'
                                        ></line>
                                        <polyline
                                            points='12 19 5 12 12 5'
                                        ></polyline>
                                    </g>
                                </svg>
                            </div>
                            <div class='preRightWrapper'><div
                                    class='smallContent'
                                >
                                    <span>Previous</span>
                                </div>
                                <div class='nextPreviousTitle'>
                                    <span>{{prev.name}}</span>
                                </div>
                            </div>
                        </a>

                        <a class='nextBtn' href='{{next.slug}}.html'>
                            <div class='nextRightWrapper'>
                                <div class='smallContent'>
                                    <span>Next</span>
                                </div>
                                <div class='nextPreviousTitle'>
                                    <span>{{next.name}}</span>
                                </div>
                            </div>
                            <div class='rightArrow'>
                                <svg
                                    preserveAspectRatio='xMidYMid meet'
                                    height='1em'
                                    width='1em'
                                    fill='none'
                                    xmlns='http://www.w3.org/2000/svg'
                                    viewBox='0 0 24 24'
                                    stroke-width='2'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    stroke='currentColor'
                                    class='_13gjrqj'
                                >
                                    <g>
                                        <line
                                            x1='5'
                                            y1='12'
                                            x2='19'
                                            y2='12'
                                        ></line>
                                        <polyline
                                            points='12 5 19 12 12 19'
                                        ></polyline>
                                    </g>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class='credits'><p>Dozen Dragons Wiki, an Eberron &amp;
                            PF2e campaign.</p></div>
                </div>

                {{#if sidebar}}
                    <div class='inner inner-center page-sidecontent'>
                        <div>{{{sidebar}}}</div>
                    </div>
                {{/if}}

                <div class='inner inner-right page-toc'>
                    {{#if toc}}

                        <h2>Table of Contents</h2>

                        <ul>
                            {{#each toc}}
                                <li class='toc-heading-{{h}}'>
                                    <a href='#{{id}}'>
                                        {{{str}}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>

                    {{/if}}
                </div>

            </main>

        </div>

        <svg
            id='top-scroll-btn'
            width='32'
            height='32'
            viewBox='0 0 100 100'
            fill='white'
        >
            <path
                fill='#001834'
                d='m50 0c-13.262 0-25.98 5.2695-35.355 14.645s-14.645 22.094-14.645 35.355 5.2695 25.98 14.645 35.355 22.094 14.645 35.355 14.645 25.98-5.2695 35.355-14.645 14.645-22.094 14.645-35.355-5.2695-25.98-14.645-35.355-22.094-14.645-35.355-14.645zm20.832 62.5-20.832-22.457-20.625 22.457c-1.207 0.74219-2.7656 0.57812-3.7891-0.39844-1.0273-0.98047-1.2695-2.5273-0.58594-3.7695l22.918-25c0.60156-0.61328 1.4297-0.96094 2.2891-0.96094 0.86328 0 1.6914 0.34766 2.293 0.96094l22.918 25c0.88672 1.2891 0.6875 3.0352-0.47266 4.0898-1.1562 1.0508-2.9141 1.0859-4.1133 0.078125z'
            ></path>
        </svg>

        <div id='id-tool'>
            <div id='id-tool-menu-bar'>
                <i class='fa fa-caret-square-o-down'></i>
                <div>card manager</div>
            </div>
            <div class='id-tool-min'><p>You have
                    <span id='id-count'>0</span>
                    cards selected.</p>
                <ul id='id-tool-menu-selected-list'></ul>
            </div>
            <div id='id-tool-actions'>
                <button id='id-tool-actions-copy-id' class='tooltip'>
                    <i class='fa fa-copy'></i>
                    <span class='tool-tip-content'>
                        Copy the id of all selected cards
                    </span>
                </button>
                <button id='id-tool-actions-copy-name' class='tooltip'>
                    <i class='fa fa-list'></i>
                    <span class='tool-tip-content'>
                        Copy the names of all selected cards
                    </span>
                </button>
                <button id='id-tool-actions-download-data' class='tooltip'>
                    <i class='fa fa-download'></i>
                    <span class='tool-tip-content'>
                        Download the card data of all selected cards
                    </span>
                </button>
                <button id='id-tool-actions-copy-data' class='tooltip'>
                    <i class='fa fa-paste'></i>
                    <span class='tool-tip-content'>
                        Copy the card data of all selected cards
                    </span>
                </button>
                <button id='id-tool-actions-delete' class='tooltip'>
                    <i class='fa fa-trash'></i>
                    <span class='tool-tip-content'>
                        Clear the selected cards
                    </span>
                </button>
            </div>

        </div>

        <div id='id-tool-min'>
            <i class='fa fa-caret-square-o-up'></i>
            <div>card manager</div>
        </div>

        <pre id='snackbar'>Snackbar message</pre>

        <script type='text/javascript'>
            const nextSlug = "{{{next.slug}}}.html"; const prevSlug = "{{{prev.slug}}}.html";
        </script>
        <script type='text/javascript' src='/js/toggleNav.js'></script>
        <script type='text/javascript' src='/js/kaiser.js'></script>
        <script type='text/javascript' src='/js/idManager.js'></script>
        <script type='text/javascript' src='/js/favorite.js'></script>

    </body>

</html>